.challengeDisplayAndList {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 2%;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 1%;
  padding-right: 2%;
}
