.challengeTitle {
  display: flex;
  justify-content: center;
}

.quill {
  height: 400px;
  color: black;
}

.linkSubmission {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2%;
}
