.individual-profiles {
  margin: 1%;
  width: 23%;
  text-align: center;
  font-family: Helvetica, sans-serif;
  height: 500px;
  background-color: #a5a5af;
}

.name-container {
  font-size: 250%;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.picture-container {
  width: 200px;
  height: 200px;
  margin: 4%;
  object-fit: cover;
  border-radius: 50%;
}

.individual-info-status {
  font-size: 130%;
}

.individual-info{
  margin: 2%;
  font-size: 130%;
  margin-bottom: 5%;
}

.link-icons {
  margin-right: 3.5%;
  margin-left: 3.5%;
}

.scrollable{
  height: 145px;
  overflow: auto;
}