.Card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid;
  border-bottom-width: 1pt;
  border-bottom-color: rgba(0, 0, 0, 0.257858);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.button1 {
  padding-right: 2%;
}
