.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: absolute;
    margin: 18%;
    margin-left: 25%; 
    z-index: 3;    
    opacity: 0;
}

.input-fields {
    margin: 1%;
    width: 50%;
}

.button-container {
    margin-top: 1%;
}

.contractFormText { 
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    color: white;
    position: absolute;
    opacity: 1;
    margin-top: -28%;
}

.login-container:hover {
    opacity: 1;
    transition: all .5s ease;
  } 


