.identity-container { 
    width: 50%;
    position: absolute;
    margin: 15%;
    margin-left: 25%; 
    z-index: 5;    
    opacity: 1;
}

.affiliatesLoginText { 
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    color:white;
    opacity: 1;
    margin-top: -10%;
    text-align: center;
}

/* .identity-container:hover {
    opacity: 1;
    transition: all .5s ease;
  }  */

.tab-container{
    text-align: center;
}