@import url('https://fonts.googleapis.com/css?family=Aldrich');

.title { 
    font-size: 90px;
    font-family: 'Aldrich', sans-serif;
    color: black;
    background-color: white;
    position: absolute;

    /* position: absolute; 
    top: 10%; 
    left: 30%; */

    left: 0;
    margin: auto;
    margin-top: -210px;
    top: 50%;
    width: 100%;
}

.missionStatement { 
    width: 60%;
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    color: black;
    background: white;
    width: 70%;
    display: inline-block; 
}


.signUpAffiliates { 
    position: absolute;
    margin: 20%;
    width: 60%;
    height: 40%;
}

.signUpAffiliatesBox { 
    background-color: white;
    opacity: .8;
    position: relative;
    z-index: 1;
}

.downArrow { 
    width: 20%;
    height: "auto"; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 60px;
    padding-bottom: 60px;
}

  .affiliatesLogin img {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }
  
  .affiliatesLogin img:hover {
    -webkit-filter: blur(7px);
  } 

  .affiliatesLogin:hover .identity-container{
    opacity: 1;
  }

  .affiliatesLoginText { 
      font-size: 30px;
      margin-left: 25%;
      font-family: 'Aldrich', sans-serif;
      color: black;
      position: absolute;
      opacity: 1;
  
  }

 .companyLogin img {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }
   
  .companyLogin img:hover {
    -webkit-filter: blur(5px);
    z-index: 300;
  } 

.AboutUs { 
    font-size: 50px;
    font-family: 'Aldrich', sans-serif;
    color: black;
}