@import url('https://fonts.googleapis.com/css?family=Aldrich');

.title { 
    font-size: 90px;
    font-family: 'Aldrich', sans-serif;
    color: black;
    background-color: white;
    position: absolute;

    /* position: absolute; 
    top: 10%; 
    left: 30%; */

    left: 0;
    margin: auto;
    margin-top: -210px;
    top: 50%;
    width: 100%;
}

.missionStatement { 
    width: 60%;
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    color: black;
    background: white;
    width: 70%;
    display: inline-block; 
}
/* 
.affiliatesLogin:hover .signUpAffiliates
{
    text-align:justify;
    background-color: white;
} */

.signUpAffiliates { 
    position: absolute;
    margin: 20%;
    width: 60%;
    height: 40%;
}

.signUpAffiliatesBox { 
    background-color: white;
    opacity: .8;
}

.downArrow { 
    width: 20%;
    height: "auto"; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 60px;
    padding-bottom: 60px;
}

.AboutUs { 
    font-size: 50px;
    font-family: 'Aldrich', sans-serif;
    color: black;
}